.list-wrapper {
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9
}


.card-header{
  background-color: #D3D3D3;
  padding: 2px
}

.equation-card{
  disply: block;
  padding: 5px;
}
